
*{
	margin: 0;
	padding right: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
	 -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.principal{ 
	width: 100%;
	height: 700px;
	z-index: 1px;
	background-size: cover;
}

div .img1 {
	background-color: #333447;
 	height: 100px;
 	width: 100px;
 }


div.img1  img{
	width: 100%;
	height: 710px;
	position: relative;
	max-height: 743px;
	min-width: 70px;
 }

 div .img2 {
 	height: 100px;
 	width: 100px
 }

 div.img2  img{
    position: absolute;
	max-height: 75px;
	min-width: 53px;
	margin-left: 83px;
	margin-top: -682px;
 }

 .p1{
   	margin-left: 766px;
	margin-top: -667px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	position: relative;
	list-style: none;
	color: white;
}

.p2 {
	margin-left: 766px;
	margin-top: -667px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	position: relative;
	list-style: none;
	color: white;
}

.p3 {
	margin-left: 876px;
	margin-top: -23px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	position: absolute;
	list-style: none;
	color: white;
}

.p4 {
	margin-left: 1014px;
	margin-top: -24px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	position: absolute;
	list-style: none;
	color: white;

}


form{
	margin-left: 793px;
	margin-top: 212px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	width: 467px;
	height: 377px;
	position: absolute;
	opacity: 0.5;

}
.bu1 {
	margin-left: 788px;
	margin-top: 245px;
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	position: absolute;
	list-style: none;
	width: 186px;
	height: 55px;
	text-align: center;
	background-color: #FF00BF;
	border-radius: 7px;
}

form hr {
	width: 391px;
	margin-top: 9px;
	margin-left: -1px;
	position: absolute;
	color: #728099;
}

.b1{
	background-color: white;
	margin-left: 731px;
	margin-top: 37px;
	width: 525px;
	height: 377px;
	position: absolute;


}
.p7 { 
	margin-left: 787px;
	margin-top: 88px;
	font-family: 'Montserrat', sans-serif;
	font-size: 34px;
	position: absolute;
	list-style: none;
	color: #352384;
	width: 330px;
	height: 373px;
	text-align: left;
	max-width: 148px;
	min-width: 240px;
}

.h1 {
	width: 674px;
	top: 12px;
	left: 303px;
	position: absolute;
	color: #C1C1C1FF;
}

.p8 {
	margin-left: 788px;
	margin-top: 168px;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	position: absolute;
	list-style: none;
	color: #352384;
	width: 467px;
	height: 378px;
	text-align: left;
}

.u1 {
	margin-left: 1003px;
	margin-top: 261px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	position: absolute;
	list-style: none;
	color: #352384;
	width: 467px;
	height: 378px;
	text-align: left;
	opacity: 0.5;

}

.p9 { 		
	margin-left: 801px;
	margin-top: 349px;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	position: absolute;
	list-style: none;
	color: #352384;
	width: 467px;
	height: 378px;
	text-align: left;
	opacity: 0.5;
}

.p10 {
	left: 837px;
	top: 461px;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	position: absolute;
	list-style: none;
	color: #FF00BF;
	width: 467px;
	height: 378px;
	text-align: center;
	opacity: 0.5;
}

.gradiente {
	background: linear-gradient(#76278F, #2B1E66);
	position: absolute;
	height: 615px;
	width: 100%;
	top: 710px;
	left: 0px;
}

.p12 {

	margin-left: -64px;
    margin-top: 626px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    position: absolute;
    list-style: none;
    color: white;
    width: 467px;
    height: 378px;
    text-align: center;
}

.p13 {
	margin-left: 26px;
	margin-top: 684px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	position: absolute;
	list-style: none;
	color: white;
	width: 467px;
	height: 378px;
	text-align: left;
}

.p14	{
	margin-left: -60px;
	margin-top: 772px;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	position: absolute;
	list-style: none;
	color: white;
	width: 467px;
	height: 377px;
	text-align: center;
}

.p15 {		
	margin-left: 19px;
	margin-top: 826px;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	position: absolute;
	list-style: none;
	color: white;
	width: 467px;
	height: 377px;
	text-align: left;
}

 .p16 {
 		
	margin-left: -112px;
    margin-top: 942px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    position: absolute;
    list-style: none;
    color: white;
    width: 467px;
    height: 377px;
    text-align: center;
}

.p17{	
	margin-left: 15px;
	margin-top: 976px;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	position: absolute;
	list-style: none;
	color: white;
	width: 465px;
	height: 377px;
	text-align: left;
}

.p18 {
	margin-left: 15px;
	margin-top: 1025px;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	position: absolute;
	list-style: none;
	color: white;
	width: 467px;
	height: 377px;
	text-align: left;
}

div.img3 img{
	height: 469px;
	margin-right: 12px;
	margin-top: 676px;
	margin-left: 737px;
	position: absolute;
 }

.p19 {
	background-color: white;
	margin-left: -40px;
	margin-top: 1193px;
	position: relative;
	width: 442px;
	height: 470px
}

.p20 {
	margin-left: -232px;
	margin-top: -448px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	position: absolute;
	list-style: none;
	color: black;
	width: 467px;
	height: 523px;
	text-align: center;
}

.p21 {
	margin-left: -122px;
	margin-top: -428px;
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	position: absolute;
	list-style: none;
	color: black;
	width: 467px;
	height: 377px;
	text-align: center;
}

.p22 {
	margin-left: -19px;
	margin-top: -383px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	position: absolute;
	list-style: none;
	color: black;
	width: 361px;
	height: 377px;
	text-align: left;
	opacity: 0.5;
}

.v1 {
	margin-top: -470px;
	margin-left: 402px;


}

.v2	{
	margin-top: -4px;
	margin-left: -40px;
}

  .p23	{
  	background-color: white;
	margin-left: 814px;
	margin-top: -485px;
	position: relative;
	width: 442px;
	height: 480px
}

.p24{
	margin-left: 861px;
	margin-top: -456px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	position: absolute;
	list-style: none;
	color: black;
	width: 361px;
	height: 377px;
	text-align: left;
}

.p25{ 
	margin-left: 859px;
    margin-top: -374px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: absolute;
    list-style: none;
    color: black;
    width: 361px;
    height: 377px;
    text-align: left;
    opacity: 0.5;
}

.p31 {
	margin-left: 861px;
	margin-top: -431px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	position: absolute;
	list-style: none;
	color: black;
	width: 361px;
	height: 377px;
	text-align: left;

}

 
.p26 {
	background-color: white;
	margin-left: -40px;
	margin-top: 0px;
	position: relative;
	width: 440px;
	height: 480px;
}

.p27 {
	margin-left: -19px;
	margin-top: -381px;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	position: absolute;
	list-style: none;
	color: black;
	width: 361px;
	height: 377px;
	text-align: left;
}

.p28{

	margin-left: -19px;
	margin-top: -280px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	position: absolute;
	list-style: none;
	color: black;
	width: 361px;
	height: 377px;
	text-align: left;
	opacity: 0.5;
}

.p29 {
	margin-left: -19px;
	margin-top: -351px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	position: absolute;
	list-style: none;
	color: black;
	width: 361px;
	height: 377px;
	text-align: left;
}

.v3 {
     margin-top: -480px;
     margin-left: 400px;
}

.button {
		margin:1em;
		display: inline-block;
		position: relative;
		padding: 8em;
		border:2px solid #fff;
		overflow: hidden;
		text-decoration: none;
		font-size: 2em;
		color: #fff;
		background: transparent;
		cursor: pointer;
}

.f1-p:hover  p { 
	filter:blur(1.5px);
	transition: all .3s;
}

.f1 {
	background-color: #333447;
	margin-left: -40px;
	margin-top: -4px;
	position: relative;
	width: 1292px;
	height: 480px;
}

.f2{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	position: absolute;
	list-style: none;
	color: white;
	width: 361px;
	height: 377px;
	text-align: left;
	margin-top: 60px;
	margin-left: 116px;
}

.f3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	position: absolute;
	list-style: none;
	color: white;
	width: 374px;
	height: 377px;
	text-align: left;
	margin-top: 125px;
	margin-left: 116px;
}

.f4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	position: absolute;
	list-style: none;
	color: white;
	width: 361px;
	height: 377px;
	text-align: left;
	margin-top: 171px;
	margin-left: 116px;  	
}

.f5 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	position: absolute;
	list-style: none;
	color: white;
	width: 361px;
	height: 377px;
	text-align: left;
	margin-top: 217px;
	margin-left: 116px;
}

.f6 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	position: absolute;
	list-style: none;
	color: white;
	width: 361px;
	height: 377px;
	text-align: left;
	margin-top: 258px;
	margin-left: 116px;  
}

.f7 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	position: absolute;
	list-style: none;
	color: white;
	width: 361px;
	height: 377px;
	text-align: left;
	margin-top: 59px;
	margin-left: 418px;
}

.f8 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	position: absolute;
	list-style: none;
	color: white;
	width: 361px;
	height: 377px;
	text-align: left;
	margin-top: 125px;
	margin-left: 419px;
}

.f9 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	position: absolute;
	list-style: none;
	color: white;
	width: 361px;
	height: 377px;
	text-align: left;
	margin-top: 171px;
	margin-left: 419px;
}


.f10 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	position: absolute;
	list-style: none;
	color: white;
	width: 361px;
	height: 377px;
	text-align: left;
	margin-top: 217px;
	margin-left: 419px;
}

.f11 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	position: absolute;
	list-style: none;
	color: white;
	width: 361px;
	height: 377px;
	text-align: left;
	margin-top: 258px;
	margin-left: 419px;
}

.f12 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	position: absolute;
	list-style: none;
	color: white;
	width: 361px;
	height: 377px;
	text-align: left;
	margin-top: 60px;
	margin-left: 725px;
}

.f13 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	position: absolute;
	list-style: none;
	color: white;
	width: 361px;
	height: 377px;
	text-align: left;
	margin-top: 125px;
	margin-left: 725px;

}
.f14 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	position: absolute;
	list-style: none;
	color: white;
	width: 361px;
	height: 377px;
	text-align: left;
	margin-top: 171px;
	margin-left: 725px;

}
.f15 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	position: absolute;
	list-style: none;
	color: white;
	width: 361px;
	height: 377px;
	text-align: left;
	margin-top: 217px;
	margin-left: 725px;

}
.f16 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	position: absolute;
	list-style: none;
	color: white;
	width: 361px;
	height: 377px;
	text-align: left;
	margin-top: 258px;
	margin-left: 725px;
}

div.img4  img{
	width: 12%;
	height: 710px;
	position: absolute;
	margin-top: -747px;
	margin-left: 955px;
}
div.img5 img{
	width: 12%;
	height: 45px;
	position: absolute;
	margin-top: -341px;
	margin-left: 956px;

	}
	div.img6  img{
	width: 12%;
	height: 54px;
	position: absolute;
	margin-top: -271px;
	margin-left: 955px;

}

hr {
	width: 655px;
	margin-top: -100px;
	margin-left: 288px;
	position: absolute;
	color: #C1C1C1FF;

}
.f17{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	position: absolute;
	list-style: none;
	color: white;
	width: 361px;
	height: 377px;
	text-align: left;
	margin-top: -66px;
	margin-left: 521px;
}